* {
  box-sizing: border-box;
}

html {
  font-family: var(--body);
  color: var(--text);
  background-color: var(--background);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings);
}

img {
  display: block;
  max-width: 100%;
}
