.button {
  display: inline-block;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button.primary {
  background-color: var(--primary);
  color: var(--background);
}

.button.secondary {
  border: 2px solid currentColor;
  color: var(--accent);
}

.button-group {
  display: flex;
  gap: 1rem;
}
