form > * + * {
  margin-top: 2rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input,
textarea {
  border: none;
  padding: 0.5em;
  border-radius: var(--radius);
  background-color: var(--secondary);
  color: var(--text);
}

textarea {
  resize: vertical;
}
